
<%- include('partials/_header'); %>
 <H1>topicos</H1> 

<div class="ico" id="metallica"
<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
<a href="#">Metallica</a>
</div>
<div class="ico" id="anime"
<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
<a href="#">Anime</a>
</div>
<div class="ico" id="manga"
<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
<a href="#">Manga</a>
</div>

<script>
    $('#metallica').click(function(){
    console.log(tokenweb);
    var data = { token : tokenweb, topic : "Metallica" };
    $.ajax({
            url : 'https://firebase.matius-rock.com/registertokentopic',
            data : data, 
            method : 'post', //en este caso
            dataType : 'json',
            success : function(response){
                console.log(response);
            },
            error: function(error){
                   //codigo error
            }
    });
});
$('#anime').click(function(){
    console.log(tokenweb);
    var data = { token : tokenweb, topic : "anime" };
    $.ajax({
            url : 'https://firebase.matius-rock.com/registertokentopic',
            data : data, 
            method : 'post', //en este caso
            dataType : 'json',
            success : function(response){
                console.log(response);
            },
            error: function(error){
                   //codigo error
            }
    });
});
$('#manga').click(function(){
    console.log(tokenweb);
    var data = { token : tokenweb, topic : "manga" };
    $.ajax({
            url : 'https://firebase.matius-rock.com/registertokentopic',
            data : data, 
            method : 'post', //en este caso
            dataType : 'json',
            success : function(response){
                   console.log(response);
            },
            error: function(error){
                   //codigo error
            }
    });
});
</script>

<%- include('partials/_footer'); %>
